body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  background: #E6E6E6;
}

h2 {
  color: #2E64FE;
}

.alignment {
  float: left;
}

.c-alignmnet {
  position: relative;
  left: 15%;
  top: 5px;
}

.text-alignment {
  float: left;
  position: relative;
}

.little-img {
  position: relative;
  top: 40px;
}

.comp-img {
  position: relative;
  top: 20px;
  left: 30%;
}

.box {
  position: relative;
  top: 20px;
  height: 500px;
  padding: 20px;
  color: black;
  background: #FFFFFF;
}



.viz_box {
  position: relative;
  top: 20px;
  height: 600px;
  padding: 20px;
  color: black;
  background: #FFFFFF;
}

.comp_box {
  position: relative;
  top: 20px;
  height: 650px;
  padding: 20px;
  color: black;
  background: #FFFFFF;
}

.data_box {
  position: relative;
  top: 20px;
  padding: 20px;
  color: black;
  background: #FFFFFF;
}

.zoom {
  transition: transform .2s;

}

.zoom:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}

.v-text {
  font-size: 16px;
  color: #0B4C5F;
  padding-top: 10px;
}